.wrap {width:100%; max-width:1200px; margin:auto}
 .navs {text-align:center;}
  .nav {background-color: #333; color:#fff; padding:0.5rem 1rem; width:25%; float:left;}
  .nav:hover {background-color: #f1f1f1; color:#222;}